.cmb2-wrap {
  .cmb-row {
    &.master-field {
      margin-top: 5px !important;
      margin-bottom: 0 !important;
    }

    &.mini-label {
      margin-bottom: 0 !important;

      > .cmb-th {
        label {
          font-weight: 400;
          font-size: small;
          padding: 0 !important;
        }
      }

      > .cmb-td {
        input {
          margin: 0 !important;
        }
      }
    }

    .cmb2-metabox-description {
      padding-bottom: 0 !important;
    }
  }
}

.cmb-add-row {
  margin-top: 0 !important;
}

.cmb-repeatable-group {
  .inside {
    .cmb-row {
      padding: 0 !important;
    }
  }
}

.cmb2-id-wcr-color-scheme {
  input[type=radio] {
    &:checked {
      &:before {
        content: "\2022";
        text-indent: -9999px;
        border-radius: 50px;
        font-size: 24px;
        width: 12px;
        height: 12px;
        margin: 1px;
        line-height: 16px;
        background-color: red;
      }

      &[value='66ae66'] {
        &:before {
          background-color: #66ae66;
        }
      }

      &[value='66aeae'] {
        &:before {
          background-color: #66aeae;
        }
      }

      &[value='6666ae'] {
        &:before {
          background-color: #6666ae;
        }
      }

      &[value='ae66ae'] {
        &:before {
          background-color: #ae66ae;
        }
      }

      &[value='ae6659'] {
        &:before {
          background-color: #ae6659;
        }
      }

      &[value='ae9966'] {
        &:before {
          background-color: #ae9966;
        }
      }
    }
  }
}
