/*.php
/*.txt
/*.xml
/*.log
/*.html
/*.gz
/*.htaccess

.idea/
.DS_Store

/wp-admin/
/wp-includes/
/wp-content/*

!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/wacara/
/wp-content/plugins/wacara/assets/qrcode/*
