body.page-template.page-template-self-checkin-page.page {
  background-color: $white;

  > .frow-container {
    min-height: 350px;
    height: calc(100vh - 80px);

    .wcr-form-self-checkin-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      .wcr-checkin-logo-wrapper {
        margin-bottom: 2rem;

        img.wcr-checkin-logo {
          max-height: 50px;
          max-width: 210px;
          @include breakpoint($size_tablet) {
            max-height: 75px;
            max-width: 240px;
          }
          @include breakpoint($size_laptop) {
            max-height: 90px;
            max-width: 270px;
          }
        }
      }

      .wcr-form {
        width: 100%;
        @include transition(all .2s ease);

        .wcr-form-submit-wrapper {
          .wcr-login-button {
            width: 100%;
            @include breakpoint($size_tablet) {
              width: unset;
            }
          }
        }

        @include breakpoint($size_tablet) {
          border: 1px solid darken($white, 20%);
          @include border-radius-left(22px);
          @include border-radius-right(22px);
          overflow: hidden;
          background-color: $white;

          display: flex;
          flex-direction: row;
          .wcr-form-field-wrapper {
            width: 100%;
            margin-bottom: 0;

            .wcr-form-field {
              border-color: transparent;
              padding-left: 44px;
            }
          }
          .wcr-form-submit-wrapper {
            .wcr-login-button {
              font-size: 0;
              width: 44px;
              height: 44px;
              padding: 0;
              background-color: transparent;
              border-color: transparent;
              @include border-radius(50%);

              &:before {
                content: "\f037";
                @include remixicon;
                font-size: 20px;
                color: darken($white, 20%);
              }

              &:hover,
              &:active,
              &:focus {
                box-shadow: none !important;
              }
            }
          }
          &:hover {
            @include box-shadow();
          }
        }
      }

      .wcr-button-qrcode-wrapper {
        width: 100%;

        .wcr-button {
          width: 100%;
          background-color: $white;
          color: inherit;
        }

        @include breakpoint($size_tablet) {
          width: auto;
        }
      }
    }
  }
}
