.wcr-footer {
  height: 80px;

  > .frow-container {
    height: 100%;
    align-items: center;

    p.wcr-footer-content {
      line-height: 1.4;
      font-size: 85%;
      margin: 0;
    }
  }

  &.wcr-footer-dark {
    background-color: lighten($black, 30%);
    color: $white;
  }
}