.bank-lists {
  .bank-item {
    //border-bottom: 1px solid $gray-300;

    input[type=radio] {
      display: none;

      &:checked {
        & ~ label {
          //background-color: $light;
          border-color: $success;
          @include box-shadow();

          i {
            display: inline-block;
          }
        }
      }
    }

    label {
      display: block;
      padding: 1rem;
      position: relative;
      border: 1px solid transparent;
      cursor: pointer;
      @include border-radius(4px);

      i {
        background-color: $white;
        display: none;
        position: absolute;
        top: -16px;
        left: calc(50% - 16px);
      }
    }

    p {
      margin-bottom: 0;

      &.number {
        font-weight: 500;
      }
    }
  }
}
