section.sponsors {
  .sponsor-logos {
    .slide {
      height: 76px;
      text-align: center;

      img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;

        @include grayscale(1);
        @include transition(all .2s);

        &:hover {
          @include grayscale(0);
        }
      }
    }
  }
}
